node_modules

example/task/**/publish/*
example/task/**/logs/*
example/task/**/history/*

example/task/demo/**/history/*
example/task/demo/**/publish/*
example/task/demo/**/logs/*

.vscode
back_README.md
